.timer{
    float: right;
}
.total{
    margin-bottom: 5px;
}
    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #16b138;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    .logo {
        position: relative;
        bottom: 2rem;
    }

    .container-fluid {
        height: 60px;
    }

    .head1 {
        color: #FBAD30;
        font-size: 2rem;
        font-weight: bold;
        height: 50px;
    }

    .head2 {
        color: #EF4926;
        font-size: 2rem;
        font-weight: bold;
    }